p,
h1,
h2,
h3 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  margin: 0;
}

image {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  font-family: inherit;
  border: transparent;
}

.container {
  width: 1125px;
  outline: 2px solid red;
  margin-left: auto;
  margin-right: auto;
  /* background-color: #69ad25; */
}

/*------------ HEADER ---------*/

.header {
  padding-top: 10px;
  /* background-color: #F2CEDA; */
  background-color: rgba(242, 206, 218, 0.3);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav-list {
  display: flex;
  align-items: center;
  margin-left: 266px;
}

.header-nav-item {
  margin-right: 40px;
}

.header-nav-link {
  color: rgba(21, 1, 1, 0.6);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  background-image: linear-gradient(
    to right,
    #d23166,
    #d23166 50%,
    rgb(21, 1, 1) 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.header-nav-link::before{
  content: '';
  background: #d23166;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.header-nav-link:hover,
.header-nav-link:focus {
  /* color: #d23166; */
  /* box-shadow: inset 100px 0 0 0 #d23166;
  color: white; */
  background-position: 0;
}

.header-nav-link:hover::before{
  width: 100%;
}

.header-btn {
  width: 165px;
  height: 49px;
  border-radius: 5px;
  background: #d23166;

  color: #fafafa;
  font-family: Hind Madurai;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.header-btn:hover{
  box-shadow: inset 100px 0 0 0 #d23166;
  
}

/*------------ HERO ---------*/

.hero {
  background-color: rgba(242, 206, 218, 0.3);
}

.hero-container {
  display: flex;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.hero-text {
  color: #0f0101;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.4px;
  margin-bottom: 6px;
}

.hero-title {
  width: 600px;
  color: #0f0101;
  font-family: Fredoka One;
  font-size: 57.33px;
  font-style: normal;
  font-weight: bold;
  line-height: 120.5%;
  margin-bottom: 35px;
}

.hero-title > span {
  color: #d23166;
  font-family: Fredoka One;
  font-size: 57.33px;
  font-style: normal;
  font-weight: bold;
  line-height: 120.5%;
}

.hero-desc {
  width: 523px;
  color: #0f0101;
  opacity: 0.6;
  font-family: Hind Madurai;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 50px;
}

.hero-btn {
  width: 165px;
  height: 49px;
  border-radius: 5px;
  background: #d23166;

  color: #fafafa;
  font-family: Hind Madurai;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/*------------ DELIVERY ---------*/

.delivery {
  padding-top: 130px;
  padding-bottom: 130px;
}

.delivery-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delivery-item {
  text-align: center;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

.delivery-title {
  color: #000;
  font-family: Hind Madurai;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 25px;
  margin-bottom: 9px;
}

.delivery-text {
  width: 198px;
  color: #000;
  opacity: 0.6;
  text-align: center;
  font-family: Hind Madurai;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/*------------ DETAILS ---------*/

.details {
  background-color: rgba(242, 206, 218, 0.3);
}

.details-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.details-title {
  width: 349px;
  color: #150101;
  font-family: Hind Madurai;
  font-size: 44.2px;
  font-style: normal;
  font-weight: 600;
  line-height: 110.5%;
  margin-bottom: 20px;
}

.details-text {
  width: 442px;
  color: #150101;
  opacity: 0.6;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 35px;
}

/* .details-btn {
  width: 165px;
  height: 49.135px;
  border-radius: 5px;
  background: #d64374;

  color: #fafafa;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
} */



/*------------ PRODUCTS ---------*/

.products {
  padding-top: 137px;
}

.products-title {
  color: #150101;
  font-family: Hind Madurai;
  font-size: 44.2px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  margin-bottom: 64px;
}

.products-names-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 39px;
  margin-bottom: 50px;
}

.products-names-link {
  color: #000;
  opacity: 0.6;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  
  background-image: linear-gradient(
    to right,
    #d23166,
    #d23166 50%,
    rgb(21, 1, 1) 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.products-names-link::before{
  content: '';
  background: #d23166;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.products-names-link:hover,
.products-names-link:focus {
  /* color: #d23166; */
  /* box-shadow: inset 100px 0 0 0 #d23166;
  color: white; */
  background-position: 0;
}

.products-names-link:hover::before{
  width: 100%;
}

.products-selected-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.products-selected-desc {
  width: 454px;
}

.products-selected-desc:nth-child(1) {
  text-align: right;
}

.products-selected-desc-title {
  color: #000;
  font-family: Hind Madurai;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 10px;
}

.products-selected-desc-spec {
  width: 454px;
  color: #000;
  opacity: 0.7;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 28px;
}

.products-selected-desc-price {
  color: #000;
  font-family: Hind Madurai;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.products-selected-desc-price > span {
  color: #000;
  opacity: 0.7;
  font-family: Hind Madurai;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: line-through;
}

.products-selected-btn {
  width: 165px;
  height: 49px;
  border-radius: 5px;
  background: #d64374;

  color: #fafafa;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 30px;
}

/*------------ DOWNLOAD ---------*/

.download {
  background-color: rgba(242, 206, 218, 0.3);
  padding-bottom: 60px;
  padding-top: 60px;
}

.download-container {
  display: flex;
  align-items: center;
  gap: 134px;
}

.download-title {
  width: 666px;
  color: #000;
  font-family: Roboto;
  font-size: 44.2px;
  font-style: normal;
  font-weight: bolt;
  line-height: normal;
  margin-bottom: 31px;
}

.download-text {
  width: 607px;
  color: #0f0101;
  opacity: 0.7;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.18px;
  margin-bottom: 31px;
}

.download-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 25px;
  color: #000;
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.download-item-icon {
  background-color: #fff;
  border-radius: 3px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.download-app-list {
  display: flex;
  align-items: center;
  gap: 10px;
}

/*------------ QUESTION ---------*/

.question {
  padding-top: 150px;
  padding-bottom: 150px;
}

.question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-title {
  width: 522px;
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 44px;
  font-style: normal;
  font-weight: bolt;
  line-height: normal;
  margin-bottom: 28px;
}

.question-form {
  display: flex;
  align-items: center;
}

.question-textarea {
  width: 637px;
  height: 74px;
  border-radius: 5px;
  background: #fafafa;
  resize: none;
  box-sizing: border-box; /* Учитывает границы и отступы в расчете ширины и высоты */
  padding-left: 30px;
  padding-top: 29px;
}

.question-btn {
  width: 134px;
  height: 74px;
  border-radius: 5px;
  background: #d64374;

  color: #fff;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: -7px;
}

/*------------ FOOTER ---------*/

.footer {
  background-color: #0a0808;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 70px;
  padding-top: 70px;
}

.footer-logo-text {
  width: 207px;
  color: #fff;
  opacity: 0.7;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 139.687%; /* 16.762px */
  letter-spacing: 0.12px;
  margin-top: 9px;
  margin-bottom: 25px;
}

.footer-links-title {
  color: #fff;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.footer-soc-media-list {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.footer-nav {
  display: flex;
  align-items: center;
  gap: 132px;
  margin-left: 40px;
  margin-right: 151px;
}

.footer-nav-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-nav-link {
  color: #fff;
  opacity: 0.7;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer-info-title {
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 13px;
}

.footer-info-list {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 17px;
}

.footer-info-form{
  display: flex;
  align-items: center;
}

.footer-info-input {
  width: 263px;
  height: 55px;
  border-radius: 5px;
  border: 2px solid #d64374;
  background-color: #0a0808;
  box-sizing: border-box;
}

.footer-info-input::placeholder {
  color: #fff;
  opacity: 0.6;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 32px;
  padding-top: 20px;
}

.footer-info-btn {
  border-radius: 5px;
  background: #d23166;
  width: 125px;
  height: 55px;
  box-sizing: border-box;

  color: #fff;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 0;
  margin-left: -7px;
}

